@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1F1B24;
}

.profile {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  margin-top: 50px;
  margin-left: 20px; 
  margin-right: 20px;
  padding: 25px;
  display: block;
}

.imgprofile {
  padding-top: 30px;
  max-width: 30%;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
}


.profile p strong {
  font-size: 1.3vw;
}

.card p {
  font-size: 12px;
  text-align: center;
}

.social_icons {
  margin: 10px 0;
  display: flex;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

.social_icons li {
  list-style-type: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 3px 3px 7px #afafaf, -3px -3px 7px #ffffff;
}

.social_icons li a i {
  font-size: 25px;
}

/* Responsive strong text */
@media screen and (max-width: 700px) {
  .profile p strong {
    font-size: 1em;
  }
}
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {
  .profile p strong {
    font-size: 1.5em;
  }
}